@media ( max-width: 1441px)
    .slick-prev
        left: 2%
    .slick-next
        right: 2%

@media ( max-width: 1441px)

@media ( max-width: 991px)
    header
        .header__wrapper
            justify-content: space-between
    .general 
        .menu__wrapper 
            .menu__box 
                .menu__list
                    width: 100% !important
    .stand
        .stand__wrapper
            .stand__column
                width: 48%
                &:last-child
                    display: grid
                    grid-template-columns: repeat(2, 100%)
                    column-gap: 8%
    

@media ( max-width: 769px)
    header 
        .header__wrapper 
            .header__nav
                .header__menu
                    overflow: auto
                    position: fixed
                    background: rgba(216,218,217, .8)
                    height: 115vh
                    width: 100%
                    z-index: 4
                    top: -300%
                    left: 100%
                    display: flex
                    flex-direction: column
                    align-items: center
                    transition: all 0.5s
                    .header__menu__item
                        background: #000000
                        border: solid 1px #fff
                        margin-bottom: 1px
                        display: flex
                        justify-content: center
                        align-items: center
                        &_active
                            .menu__link
                                color: #fff !important
                        .menu__link
                            color: #fff
                            &:hover
                                color: #fff !important
            .humburger
                display: flex
    .promo 
        .promo-slider
            .first_slide, .second_slide, .three_slide
                background-position: 70%
    .general 
        .menu__wrapper 
            height: auto !important
            .divider_catalog
                margin: 5px 0 5px 0
            .menu__box 
                .menu__list
                    display: grid !important
                    grid-template-columns: repeat(2, 50%)
                    .divider_rotate
                        display: none
                    .menu__item_active
                        border: solid 1px #000
    footer 
        .footer__wrapper 
            .logo__center 
                .logo__footer
                    width: 15% !important

    .general 
        .catalog__content_first 
            .catalog__item 
                .nohovered
                    &:hover
                        .hovered__effect 
                            .plus__box
                                left: 41% !important
                                transform: translate(-50%, -50%) !important
    
    /** about **/
    .label-promo
        .label-promo__wrapper 
            .label__title
                width: 480px

    .about
        &__wrapper
            display: flex !important
            flex-direction: column !important
            align-items: center
            .photo__wrapper
                display: none
            .story__wrapper
                align-items: center
            .skills__wrapper
                height: 50vh
    .team            
        .team__wrapper 
            .team__label
                .team__text
                    width: 100%
            .staff__card__box 
                .card__wrapper
                    min-height: 540px
                    width: 32%

@media ( max-width: 767px)
    .contact
        padding: 50px 0 50px 0
        .contact__wrapper
            flex-direction: column
            .contact__info
                width: 100%
            .contact_form
                width: 100%
                height: 80%
    .management
        .management__wrapper
            .control__box
                width: 75%
            .show__box
                width: 25%
    .page__descr
        padding-top: 70px
        min-height: 800px !important
        &__wrapper
            height: auto !important
            flex-direction: column
            .product__descr
                width: 100% !important
            .product__photo
                width: 100% !important

@media ( max-width: 650px)
    .about
        .about__wrapper 
            .skills__wrapper 
                width: 90%
                .skill__statistics__box 
                    .skill__statistics__item
                        .stat__line 
                            width: 100%
                            .load__line
                                width: 90%
                                &_2
                                    width: 98%
                                &_3
                                    width: 50%
                                &_4
                                    width: 85%

@media ( max-width: 503px)
    .label-promo
        .label-promo__wrapper 
            .label__title
                width: 100%
                font-size: 39px
                line-height: 1.5
            .label__subtitle
                text-align: center
@media ( max-width: 553px)
    header
        .header__wrapper
            .header__nav
                .header__menu
                    .header__menu__item
                        width: 100% !important
    .promo
        .promo-slider
            .label__title
                font-size: 36px !important
                line-height: 1.6 !important
            .label__subtitle
                font-size: 16px !important
    footer 
        .footer__wrapper 
            .footer__smm 
                .smm__box
                    width: 66% !important
    .general 
        .catalog__content, .catalog__content_first
            .catalog__item, .grid-sizer
                width: 50% !important
            .catalog__item_empty_1
                display: block !important
        .catalog__content_first 
            .catalog__item 
                .nohovered
                    &:hover
                        .hovered__effect 
                            .plus__box
                                left: 37% !important
                                .figure__plus
                                    height: 30px !important
                                    &::after
                                        width: 30px !important
                                        left: -15px !important
                                        top: 15px !important
    .team
        .team__wrapper 
            .staff__card__box
                display: grid !important
                grid-template-columns: repeat(2, auto)
                grid-gap: 15px
                .card__wrapper
                    width: 100%
                    

@media ( max-width: 412px)
    .promo
        .promo-slider
            .label__title
                font-size: 32px !important
                line-height: 1.7 !important
            .label__subtitle
                font-size: 16px !important
    .general 
        .catalog__content_first 
            .catalog__item 
                .nohovered
                    &:hover
                        .hovered__effect 
                            .plus__box
                                left: 33% !important

@media ( max-width: 402px)
    .management 
        .management__wrapper 
            .control__box
                width: 100%
                .prev-next
                    width: 100%
                    &:first-child
                        border-left: none
                    &:last-child
                        border-right: none
            .show__box
                display: none
    .page__descr
        padding-top: 50px

@media ( max-width: 472px)
    .promo
        .promo-slider
            .label__title
                font-size: 27px !important
                line-height: 2 !important
            .label__subtitle
                font-size: 13px !important
    .about
        min-height: 810px !important
    .label-promo 
        .label-promo__wrapper 
            .label__title
                font-size: 34px
    .team
        .team__wrapper 
            .team__label
                height: 250px !important
    @media ( max-width: 340px)
        .label-promo 
            .label-promo__wrapper 
                .label__title
                    font-size: 30px
                    line-height: 1.8

@media ( max-width: 376px)
    .stand
        .stand__wrapper
            flex-direction: column
            .stand__column
                width: 100%
                &:last-child
                    display: block

@media ( max-width: 375px)
    .contact
        .contact__wrapper
            .contact_form
                .contact_input
                    flex-direction: column
                    .contact_data
                        width: 100%
                        margin-bottom: 10px

@media ( max-width: 372px)
    .page__descr
        .page__descr__wrapper
            .product__descr
                .product__header
                    .product__name
                        font-size: 27px
                    .product__category
                        font-size: 15px
                    .product__role
                        .role__header
                            font-size: 15px

@media ( max-width: 346px)
    .page__descr
        .page__descr__wrapper
            .product__descr
                .product__header
                    .product__name
                        font-size: 23px

@media ( max-width: 320px)
    .general 
        .catalog__content_first 
            .catalog__item 
                .nohovered
                    &:hover
                        .hovered__effect 
                            .plus__box
                                left: 30% !important
    .team
        .team__wrapper 
            .team__label
                height: 280px !important

